/* Google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root
{
    --primary:#49d1d1;
    --secondary:#2d3239;
}
/* Start*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li
{
list-style: none;
}
ul,ol
{
    margin: 0;
    padding: 0;
}
p,li
{
    font-family: "Roboto",sans-serif;
    font-size: 17px;
    color:#333;
    line-height: 1.7;
}
h1,h2,h3,h4,h5,h6
{
    color: #000;
    line-height: 1.4;
    font-weight: bold;
    font-family: "Roboto",sans-serif;
    text-transform: capitalize;
}
a{
    font-family: "kanit",sans-serif;
    color: #000;
    font-size: 15px;
    text-decoration: none !important;
    transition: .4s ease;
}
.img
{
    max-width: 100%;
     transition: .4s ease;
}
.pt-6
{
    padding-top: 60px;
}
.container
{
    max-width: 1240px;
}

/*--header style*/
.navbar-brand
{
    color: #000;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 2px !important;
}
.navbar-brand span
{
    color: var(--primary);
}
nav .navbar-nav .nav-link
{
    color: #000;
    padding: 5px 20px !important;
    font-size: 16px;
}
nav .navbar-nav .nav-link:hover
{
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
}

.search-icon
{
    border-radius: 2px solid#c3c3c3;
    padding: 4px 22px;
    margin-right: 25px;
    font-size: 20px;
}
.shop-icon ul
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.shop-icon ul li a
{
    background-color: var(--primary);
    margin: 1px;
    padding: 8px 12px;
    border-radius: 30px;
    color: white;
}
.shop-icon ul li a:hover
{
    background-color: var(--secondary);
}
#B1
{
    border-bottom: 2px solid var(--primary);
}

/*--Section style*/
.G1
{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 15% !important;
}


.G1 img
{
    height: 300px;
    width: 500px;
}


/*--footer style*/
footer {
    background-color: var(--secondary);
    padding: 50px 0px;
}

footer a,
footer p {
    color: white;
    font-size: 15px;
}

.f-links li a {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.f-links li a i {
    color: var(--primary);
    font-size: 13px;
    margin-right: 5px;
}

.f-title {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

.f-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.f-list li i
{
    width: 35px;
    height: 35px;
    display: grid;
    place-content: center;
    background-color: var(--primary);
    color: white;
    border-radius: 10%;
    font-size: 14px;
}
.copy-right
{
    padding: 10px 0;
    background-color: var(--primary);
    text-align: center;
    border-top: 1px solid #eee;
    font-size: 16px;
}
.copy-right a
{
    text-align: center;
    color: white;
}
.navbar-brand #S1
{
    color: var(--primary);
}
#L1
{
    width: 20% !important;
}
#L1:hover
{
    background-color: var(--secondary) !important;
}
#L2:hover
{
    background-color: var(--secondary) !important;
}